*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$color1: #1b1f3b;
$color2: #FF9340;
.wrapper{
    .row{
        a{
            color: $color1;
        }

        .form-wrapper{
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                input{
                    margin-top: 30px;
                }
                input.submit{
                    color: #fff;
                    font-size: 18px;
                    background: $color2;
                    border: 0;
                    cursor: pointer;
                    width: 100%;
                }
            }
        }
    }
}
